.mbody
{
background-color:red;
}
.sp1
{
width:10%;
height:30%;
background-color:white;
}
.sp2
{
width:10%;
height:30%;
background-color:blue;
}
.sp3
{
width:10%;
height:30%;
background-color:green;
}
